<head>
  <meta charset="utf-8" />
  <title>{% if pageTitle %}{{ pageTitle }}{% else %}Linkmarks{% endif %}</title>
  <meta name="description" content="{% if pageDescription %}{{ pageDescription }}{% else %}Title{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" href="/linkmarks/src/css/index.css" type="text/css" media="all" />
  <link rel="apple-touch-icon" sizes="180x180" href="/linkmarks/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/linkmarks/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/linkmarks/favicon-16x16.png">
  <meta name="robots" content="noindex">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="https://hosteria.ru/linkmarks/" />
</head>
