{#{% set pageTitle = 'Удобная система хранения ссылок | Линкмаркс' %}#}

{% extends "./base.twig" %}

{% block content %}

  <div class="linkmarks">
    <div id="linkmarksList" class="linkmarks__list"></div>
  </div>

{% endblock %}
