<div class="modal fade" id="modal">
  <div class="modal__container">
    <button id="modalClose" class="modal__close"><svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#0E1117" class="sc-fvFlmW hRHjch"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.9399 12.0006L4.99878 17.9417L6.05944 19.0024L12.0005 13.0612L17.9416 19.0024L19.0022 17.9417L13.0612 12.0006L19.0022 6.0595L17.9416 4.99884L12.0005 10.9399L6.05946 4.99884L4.9988 6.0595L10.9399 12.0006Z"></path></svg></button>
    <div class="modal__content"></div>
  </div>
</div>
